@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.tagListWrapper {
  @include flexbox.flexbox(around, center);
  margin-bottom: 2rem;

  li {
    button {
      padding: 5px 20px;
      font-size: 1rem;
      color: colors.$SIGNATURE_COLOR;
      border: 1px solid colors.$SIGNATURE_COLOR;
      border-radius: 20px;
      transition: all 0.4s ease;
    }

    button:hover {
      background-color: rgb(247, 247, 247);
    }
  }
}
